<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd http://xmlns.jcp.org/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="5.0">
  <display-name>LibraryManagementSystem</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>AddBook</display-name>
    <servlet-name>AddBook</servlet-name>
    <servlet-class>AddBook</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddBook</servlet-name>
    <url-pattern>/AddBook</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Search</display-name>
    <servlet-name>Search</servlet-name>
    <servlet-class>Search</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Search</servlet-name>
    <url-pattern>/Search</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Registration</display-name>
    <servlet-name>Registration</servlet-name>
    <servlet-class>Registration</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Registration</servlet-name>
    <url-pattern>/Registration</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Provide</display-name>
    <servlet-name>Provide</servlet-name>
    <servlet-class>Provide</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Provide</servlet-name>
    <url-pattern>/Provide</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Returned</display-name>
    <servlet-name>Returned</servlet-name>
    <servlet-class>Returned</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Returned</servlet-name>
    <url-pattern>/Returned</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Detail</display-name>
    <servlet-name>Detail</servlet-name>
    <servlet-class>Detail</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Detail</servlet-name>
    <url-pattern>/Detail</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CheckByBookid</display-name>
    <servlet-name>CheckByBookid</servlet-name>
    <servlet-class>CheckByBookid</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CheckByBookid</servlet-name>
    <url-pattern>/CheckByBookid</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CheckByAadhar</display-name>
    <servlet-name>CheckByAadhar</servlet-name>
    <servlet-class>CheckByAadhar</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CheckByAadhar</servlet-name>
    <url-pattern>/CheckByAadhar</url-pattern>
  </servlet-mapping>
</web-app>